<div>
  <mat-dialog-content class="mat-typography">
    <div [ngClass]="isDarkMode ? 'dark-mode' : 'light-mode'" class="outer-div">
      <div *ngIf="selectedStock[0]?.ticker" class="main-div">
        <h1>{{ selectedStock[0].ticker }}</h1>
        <h2>LTP: {{ selectedStock[0].price }}</h2>
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container  matColumnDef="Bid">
            <th class="price-cell" mat-header-cell *matHeaderCellDef>Bid</th>
            <td class="price-cell" mat-cell *matCellDef="let element" [ngClass]="{ bid: element.bid }">
              {{ element.bid }}
            </td>
          </ng-container>
    
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef  class="price-cell">Price</th>
            <td  class="price-cell" mat-cell *matCellDef="let element">
              {{ element.price }}
            </td>
          </ng-container>
          
          <ng-container matColumnDef="Ask">
            <th class="price-cell" mat-header-cell *matHeaderCellDef>Ask</th>
            <td class="price-cell" mat-cell *matCellDef="let element" [ngClass]="{ ask: element.ask }">
              {{ element.ask }}
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>

</div>

