<div [ngClass]="isDarkMode ? 'dark-mode' : 'light-mode'">
  <div class="main-div">
    <h1 class="watchlist-header">WatchList</h1>

    <div
      *ngIf="WatchList.length > 0; else emptyList"
      class="watchlist-container"
    >
      <div *ngFor="let stock of WatchList" class="stock-item">
        <div class="right-div">
          <app-stoke-table
            *ngIf="stock"
            [stock]="stock?.data"
            [stocks]="stock"
            class="stock-table"
          ></app-stoke-table>
        </div>
        <button
          class="remove-btn"
          (click)="removeStockFromWatchList(stock?.ticker)"
        >
          Remove
        </button>
      </div>
    </div>

    <ng-template #emptyList>
      <p class="empty-message">WatchList is empty.</p>
    </ng-template>
  </div>
</div>
